# ==============================
# GROMACS large / binary files
# ==============================
*.xtc
*.trr
*.cpt
*.tpr
*.edr
*.log

# ==============================
# Backup and temporary files
# ==============================
*~
.#*

# ==============================
# Python cache
# ==============================
__pycache__/
*.pyc

# ==============================
# OS-specific files
# ==============================
.DS_Store
Thumbs.db
